<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold border-bottom pb-3 mb-5">Contact</h5>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p style="line-height:.75"> <strong>Mailing address:</strong></p>
        <p style="line-height:.4">{{ contact.department }}</p>
        <p style="line-height:.4">{{ contact.institution_address }}</p>
        <p style="line-height:.4">{{ contact.institution_citystate }}</p>
        <p style="line-height:.4">{{ contact.institution }}</p>
        
        <p style="line-height:4"><strong>Email:</strong> {{ contact.email }}</p>
        
        <p style="line-height:2"><strong>Office:</strong> {{ contact.office }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/sodaEmpanadas.jpg" alt="Contact" width="70%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
