<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold border-bottom pb-3 mb-5">Contact</h5>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p style="line-height: 75%; margin-bottom:.75em">{{ contact.department }}</p>
        <p>{{ contact.institution_address }}</p>
        <p>{{ contact.institution_citystate }}</p>
        <p>{{ contact.institution }}</p>
        <p></p>
        <p><strong>Email:</strong> {{ contact.email }}</p>
        <p></p>
        <p><strong>Office:</strong>{{ contact.office }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
