<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold border-bottom pb-3 mb-3">Publications</h5>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}

    <p style="line-height:3"><i>Please email me if you'd like access to any of the articles listed here.</i><p>
      
      {% for item in site.data.publications.index %} 
        <p>{{ item.author }}, ({{ item.year }}). {{ item.name }}. <i>{{ item.journal }}</i>. <a href="{{ item.url }}">{{ item.url }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
